@font-face {
    font-family: principalFont;
    src: url(../assets/fonts/Tipografia\ Principal-\ Designer.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, sans-serif;
    text-align: justify;
}
:root{
    --black: #000000;
    --black-90: rgba(0,0,0,0.9);
    --black-50: rgba(0,0,0,0.5);
    --black-20: rgba(0,0,0,0.2);
    --light-gray: #E2E2E2;
    --white: hsla(200, 7%, 92%, 1);
    --white-20: rgba(255,255,255,0.2);
    --white-30: rgba(255,255,255,0.3);
    --white-70: rgba(255,255,255,0.7);
    --white-90: rgba(255,255,255,0.9);
    --primary: #935AA1;
    --primary-light: #d29ae0;
    --primary-50: rgba(147, 90, 161,0.8);
    --dark-primary: rgb(106, 70, 114);
    --secondary: #a15a5a;
    --tomate: #af2222;
    --tomate-2: #701f1f;
    --openSans: "Open Sans", sans-serif;
    --principalFont: principalFont, sans-serif;

    --sm: 16px;
    --md: 20px;
    --lg: 24px;
    --xl: 32px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--black-20);
}
::-webkit-scrollbar-thumb {
    background: var(--primary);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-primary);
}
body{
    background-color: var(--black);
}
header{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    z-index: 5;
}
.logo-container{
    height: 30px;
}
.logo-container .logo{
    height: 100%;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
nav ul li a{
    display: flex;
    flex-direction: column;
    gap: 1px;
    color: var(--white);
    font-size: var(--sm);
    text-decoration: none;
    transition: .2s;
}
nav ul li a:hover{
    padding-bottom: 6px;
    gap: 4px;
    transition: .2s;
}
a .link-line{
    background-color: var(--white);
    width: 0%;
    height: 1px;
    transition: .2s;
}
a:hover .link-line{
    width: 100%;
    transition: .2s;
}
.button{
    background-color: var(--primary);
    padding: 10px 20px;
    border-radius: 28px;
    transition: 0.2s;
}
.button:hover{
    background-color: var(--primary-50);
    padding: 10px 20px;
    transition: 0.2s;
}
.hero{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
}
.hero-leaves, .hero-background{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.hero-leaves{
    filter:brightness(0.2);
}
.hero-background{
    mix-blend-mode:screen;
}
.hero-title{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero h1, .hero h2{
    color: var(--light-gray);
    font-family: var(--principalFont);
}
.hero h1{
    font-size: 7vw;
    line-height: 100%;
    z-index: 3;
}
.hero h2{
    font-size: 1.5vw;
    z-index: 3;
}
.hero .gradient{
    background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
    width: 100%;
    height: 20vh;
    position: absolute;
    bottom: 0;
    left: 0;
}
.logo-carrusel{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
}
.logo-carrusel p{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow: hidden;
    pointer-events: none;
}
.logo-carrusel p span{
    color: var(--white-20);
    font-family: var(--principalFont);
    font-size: 40px;
    pointer-events: none;
}
.logo-carrusel p:nth-child(odd){
    display: flex;
    justify-content: start;
}
.logo-carrusel p:nth-child(odd) span:first-child{
    animation: text-left linear infinite 5s;
}
@keyframes text-left {
    0%{margin-left: 0px;}
    100%{margin-left: -241.74px;}
}
.logo-carrusel p:nth-child(even){
    display: flex;
    justify-content: end;
}
.logo-carrusel p:nth-child(even) span:last-child{
    animation: text-right linear infinite 5s;
}
@keyframes text-right {
    0%{margin-right: 0px;}
    100%{margin-right: -241.74px;}
}
section{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.section-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-title h2{
    color: var(--light-gray);
    font-family: var(--principalFont);
    font-size: var(--lg);
}
.white .section-title h2{
    color: var(--primary);
}
.section-title h2:last-child{
    width: 100%;
    color: var(--white);
    font-family: var(--principalFont);
    font-size: var(--xl);
    text-align: center;
}
.white .section-title h2:last-child{
    color: var(--primary);
}
.section-title a{
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--light-gray);
    font-size: var(--sm);
    font-weight: 700;
    text-decoration: none;
}
.section-desciption{
    color: var(--white);
    font-size: 20px;
}
.section-text{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
}
.section-text figure{
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.section-text figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.section-text figure img.mision-img{
    object-position: 0 -200px;
}
.section-text figure .purple-square{
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: color;
    z-index: 3;
}
.section-text figure .black-square{
    background: var(--black);
    width: 20%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(50%) translateY(-50%) rotate(45deg);
    z-index: 4;
}
.invert figure .black-square{
    left: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.section-text-content{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;
}
.section-text-content p{
    color: var(--light-gray);
    font-size: var(--md);
    text-align: center;
    text-align: justify;
}
.divider{
    padding: 100px;
    position: relative;
    display: flex;
    overflow: hidden;
}
.divider img{
    width: 100%;
    position: absolute;
    top: -3px;
    left: 0;
    filter: drop-shadow(0 5px 10px var(--black-50));
}
.divider.invert{
    top: -3px;
    transform: rotate(180deg);
}
.valores-section{
    height: 100vh;
}
.valores{
    height: 100%;
    display: flex;
}
.title-container{
    min-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.valores .title-container{
    justify-content: center;
    align-items: center;
}
.title-container h2{
    color: var(--black);
    font-family: var(--principalFont);
    font-size: 40px;
}
.title-container p{
    font-size: 20px;
    padding-right: 40px;
}
.title-container img{
    width: 400px;
}
.y-scroll-section{
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.valores-scroll{
    border: solid 1px var(--black);
}
.valor{
    padding: 60px 40px;
    display: flex;
    gap: 30px;
    border-bottom: solid 1px var(--black);
}
.valor:first-child{
    border-top: none;
}
.valor:last-child{
    border-bottom: none;
}
.valor figure{
    width: 70px;
    display: grid;
    place-items: center;
}
.valor figure img{
    width: 100%;
}
.valor-description{
    width: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.valor-description h3{
    font-family: var(--principalFont);
    font-size: 24px;
}
.valor-description p{
    font-size: 16px;
}
.team-section > p{
    padding: 0 20%;
    color: var(--light-gray);
    font-size: var(--sm);
    text-align: center;
}
.team{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.team-member{
    background-color: var(--light-gray);
    min-width: calc(25% - 15px);
    width: calc(25% - 15px);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: 16px;
    overflow: hidden;
}
.team-member figure{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
}
.team-member figure img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    filter: grayscale(100%);
    transition: .5s;
}
.team-member:hover figure img{
    width: 110%;
    filter: grayscale(0%);
    transition: .5s;
}
.team-member-info{
    padding: 20px;
}
.team-member-info h3{
    color: var(--primary);
    font-family: var(--principalFont);
    font-size: var(--lg);
    margin-bottom: 4px;
}
.team-member-info > p{
    height: 60px;
    display: flex;
    flex-direction: column;
    color: var(--black-50);
    font-weight: 200;
    line-height: 20px;
}
.team-member-info > p span{
    font-size: 16px;
}
.news-section .social-card p > span{
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
}
.team-member-info > span{
    color: var(--black);
    font-family: var(--principalFont);
    font-size: var(--sm);
    font-weight: 500;
}
.news-section .social-card-container{
    padding: 30px;
}
.team-member-social{
    display: flex;
    gap: 8px;
}
.team-member-social i{
    color: black;
    font-size: var(--md);
    padding-top: 12px;
    transition: .2s;
}
.team-member-social i:hover{
    padding-top: 4px;
    padding-bottom: 8px;
    color: var(--primary);
    transition: .2s;
}
.gallery-container{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
.gallery{
    min-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, calc(100% / 6));
    grid-template-rows: repeat(4, calc(100% / 4));
}
.gallery:nth-child(1){
    animation: gallery-animation 20s infinite linear;
}
@keyframes gallery-animation{
    0%{margin-left: 0%;}
    100%{margin-left: -100%}
}
.gallery-item{
    width: 100%;
    position: relative;
    color: black;
    overflow: hidden;
}
.gallery-item:nth-child(1){
    grid-column: 1 / 3;
    grid-row: 1 / 5;
}
.gallery-item:nth-child(2){
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}
.gallery-item:nth-child(3){
    grid-column: 5 / 7;
    grid-row: 1 / 3;
}
.gallery-item:nth-child(4){
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}
.gallery-item:nth-child(5){
    grid-column: 4 / 7;
    grid-row: 3 / 5;
}
.gallery-item img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
    filter: brightness(0.6);
    pointer-events: none;
    transition: .2s;
}
.gallery-item:hover img{
    width: 120%;
    height: 120%;
    filter: brightness(1);
    transition: .2s;
}
.gallery-item .gallery-item-name{
    background-color: var(--light-gray);
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: bottom;
    bottom: 0;
    transform: translateY(100%);
    transition: .2s;
}
.gallery-item:hover .gallery-item-name{
    transform: translateY(0%);
    transition: .2s;
}
.hero h1.contacto-title{
    font-size: 3vw;
}
form{
    padding: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
form > div{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
form > div div{
    display: flex;
    flex-direction: column;
}
form  label{
    margin-bottom: 4px;
    color: var(--light-gray);
    font-family: var(--principalFont);
}
form input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: solid 2px var(--light-gray);
    font-family: var(--openSans);
    font-size: 16px;
    transition: .2s;
}
form input:hover{
    border: solid 2px var(--primary);
    transition: .2s;
}
form input#email{
    width: 100%;
}
form > input{
    margin-bottom: 20px;
}
form textarea{
    height: 150px;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: solid 2px var(--light-gray);
    font-family: var(--openSans);
    font-size: 16px;
    transition: .2s;
}
form textarea:hover{
    border: solid 2px var(--primary);
    transition: .2s;
}
input::placeholder{
    color: var(--primary);
}
textarea::placeholder{
    color: var(--primary);
}
.hero footer{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.hero footer div h3{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--light-gray);
}
.hero footer div h3 span:nth-child(1){
    font-weight: 700;
}

.hero footer div h3 span{
    font-size: 16px;
    font-weight: 300;
}
.hero footer div h3 a{
    padding: 10px 0;
    color: var(--light-gray);
    text-decoration: none;
    transition: .2s;
}
.hero footer div h3 a:hover{
    padding-top: 0;
    padding-bottom: 20px;
    color: var(--primary);
    transition: .2s;
}
.w-95{
    width: 95%;
}
.w-45{
    width: 45%;
}
.propos{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.propos-container{
    background-color: var(--primary);
    min-height: 694px;
    display: flex;
    justify-content: space-between;
    border-radius: 60px;
    overflow: hidden;
}
.propos-container.red-card{
    background-color: var(--secondary);
}
.propos-info-container{
    padding: 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.propos h3{
    color: var(--white);
    font-size: 30px;
}
.propos h2{
    color: var(--white);
}
.propos p.bold{
    color: var(--white);
    font-size: 24px;
    font-weight: bold;
}
.propos p{
    color: var(--white);
    font-size: 16px;
}
.propos a{
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    width: auto;
}
.propos a:hover{
    background-color: var(--white);
    color: var(--primary);
}
.propos-images{
    position: relative;
}
.propos-images figure, .propos-images img{
    position: absolute;
    width: 100px;
}
.propos-images img.icon{
    bottom: 0;
    right: 0;
    width: 900px;
    filter: invert(100%);
    filter:brightness(100);
    transform: translateX(20%) translateY(20%) rotate(-45deg);
}
.propos-images img.logo{
    top: 100px;
    left: 0;
    width: 150px;
    filter: brightness(1000%);
}
.propos-images figure{
    aspect-ratio: 1/1;
    transform: rotate(-45deg);
    position: relative;
    overflow: hidden;
}
.propos-images figure:nth-child(3){
    width: 200px;
    top: 75px;
    left: 270px;
    border-radius: 60px;
}
.propos-images figure:nth-child(4){
    width: 300px;
    top: 75px;
    left: -100px;
    border-radius: 80px;
}
.propos-images figure img{
    width: 150%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    z-index: 2;
}
.propos-images figure img:nth-child(2){
    width: 80%;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    z-index: 3;
    animation: rotate 15s linear infinite;
}
@keyframes rotate{
    0%{
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100%{
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}
footer{
    padding: 30px 5%;
    display: flex;
}
footer > div{
    width: calc(100% / 3);
    padding: 30px;
    align-items: center;
    color: var(--white);
}
footer > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div img{
    height: 30px;
}
footer > div:nth-child(3){
    display: flex;
    justify-content: end;
    align-items: center;
}
footer > div:nth-child(3) div{
    gap: 20px;
}
footer > div:nth-child(3) a i{
    color: var(--white);
}
footer > div:nth-child(3) a:hover i{
    color: var(--primary-light);
}
.button-tomatina{
    background-color: var(--white);
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: var(--primary);
    font-weight: 700;
    text-decoration: none;
    border-radius: 50%;
    transition: .2s;
    z-index: 20;
}
.button-tomatina:hover{
    background-color: var(--primary);
    transition: .2s;
    color: var(--white);
}
.desktop-version{
    display: flex;
}
.mobile-version{
    display: none;
}
.white{
    background-color: var(--white);
}
.invert{
    flex-direction: row-reverse;
}
@media(max-width:1250px){
    .hero h1, .hero h1.contacto-title{
        font-size: calc(14vw / 2);
        line-height: 100%;
    }
    .hero h2{
        font-size: calc(3vw / 2);
    }
    .section-text{
        height: auto;
    }
    .section-text .section-text-content{
        width: 70%;
    }
    .section-text .section-text-content p{
        text-align: center;
    }
    .section-text figure .black-square{
        display: none;
    }
    .team-section > p{
        padding: 0 10%;
    }
    .team-member{
        min-width: calc(50% - 10px);
        width: calc(50% - 10px);
    }
    .valores-section{
        height: auto;
    }
    .y-scroll-section{
        height: auto;
        overflow-y: hidden;
        gap: 20px;
    }
    .valores-scroll{
        border: none;
    }
    .valor, .valor:first-child, .valor:last-child{
        border: solid 1px var(--black);
    }
    .section-text{
        flex-direction: column-reverse;
    }
    .section-text figure{
        width: 100%;
    }
    .section-text p{
        width: 100%;
        padding: 0;
        text-align: justify;
    }
    .desktop-version{
        display: none;
    }
    .mobile-version{
        display: flex;
    }
    .hero footer{
        flex-direction: column;
        gap: 10px;
    }
    .hero footer div h3 span:nth-child(3), .hero footer div h3 span:nth-child(4){
        display: none;
    }
}
@media(max-width:800px){
    nav{
        display: none;
    }
    .section-text .section-text-content{
        width: 100%;
    }
    .team-section > p{
        padding: 0;
    }
    .team-member{
        min-width: 100%;
        width: 100%;
    }
}
@media(max-width:600px){
    section{
        padding: 50px;
    }
    .valor-description h3{
        font-size: 20px;
    }
    .valor-description p{
        text-align: left;
    }
    .section-text{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }
    footer > div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer > div div{
        width: 100%;
        justify-content: center;
    }
}